.App {
  text-align: center;
}
/* ======== FRONT PAGE ======== */
.Welcome {
  text-align: center;
}

.categorydropdown {
  display: inline-block
}

.Search {
  width: 70%;
  display: inline-block;
}


/* ABOUT */
.AboutUs {
  text-align: center;
}




/* ======== ERROR PAGE ======== */
.Error{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
