.gator{
  position: relative;
  bottom: 50px;
}

.navFormat{
  position: relative;
  bottom: 0px;
  margin-left: auto;
}



.navText{
  font-size: 20px;
  text-align: center;
}

.navToggler{
  margin-left:auto;
  margin-right:auto;
}

.Search{
  width: 100%;
}